/* Estilo Main */

main {
    padding: 40px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  main h1 {
    font-size: 2.5rem;
    color: #27ae60;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  /* Layout das Imagens */
  .image-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .product-image {
    flex: 1;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .product-image:hover {
    transform: scale(1.05);
  }
  
  /* Responsividade */
  
  @media (max-width: 768px) {
    .product-image {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .image-container {
      flex-direction: column;
    }
  }